* {
	box-sizing: border-box;
}

html {
	font-size: $font-size-base;
}

body {
	color: $color-dark-blue;
	background-color: $color-body;
	font-family: $font-family-regular;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: $font-family-regular;
	font-weight: 700;
	text-transform: uppercase;
}

h1 {
	font-size: 2rem;
}

h2 {
	font-size: 1.5rem;
}

h3 {
	font-size: 1.25rem;
}

h4 {
	font-size: 1rem;
}

a {
	color: $color-dark-blue;
}

img {
	object-fit: cover;
	object-position: center;
}

p {
	line-height: 1.4;
}
