@keyframes fadeOutGrow {
	0% {
		opacity: .6;
		@include square(1rem);
	}

	100% {
		opacity: 0;
		@include square(10rem);
	}
}

/* Specific animations */

@keyframes animateButtonLoader {
	from {
		transform: translateX(-100%);
	}

	to {
		transform: translateX(200%);
	}
}
