@keyframes fadeOutGrow {
	0% {
		opacity: .6;
		@include square(1rem);
	}

	100% {
		opacity: 0;
		@include square(10rem);
	}
}

/* Specific animations */

@keyframes animateExpandedSidebar {
	0% {
		transform: translateX(0);
		background-color: transparent;
	}

	25% {
		background-color: #fff;
		transform: translateX(0);
	}

	100% {
		background-color: #fff;
		transform: translateX($sidebar-transform-offset);
	}
}

@keyframes animateCollapsedSidebar {
	0% {
	}

	50% {
	}

	100% {
	}
}

@keyframes animateExpandedSidebarMenu {
	0% {
	}

	100% {
	}
}

@keyframes animateExpandedBeforeSidebar {
	0% {
		transform: translateX(-100%);
	}

	50% {
		transform: translateX($sidebar-transform-offset);
	}

	100% {
		transform: translateX(calc($sidebar-transform-offset + 1rem));
	}
}

@keyframes animateExpandedAfterSidebar {
	0% {
		transform: translateX(-100%);
	}

	50% {
		transform: translateX($sidebar-transform-offset);
	}

	100% {
		transform: translateX(calc($sidebar-transform-offset + 2rem));
	}
}

// Полоски сверху и снизу
@keyframes animateExpandedTopBox {
	0% {
		top: -3rem;
	}

	100% {
		top: 0;
	}
}

@keyframes animateExpandedBottomBox {
	0% {
		bottom: 0;
	}

	100% {
		bottom: 3rem;
	}
}

@keyframes animateExpandedContent {
	0% {
		transform: translateX(0);
	}

	25% {
		transform: translateX(0);
	}

	100% {
		transform: translateX($sidebar-transform-offset);
	}
}
