/* 
"A","B","C","D",
"E","F","G","H",
"I","J","K","L",
"M","N","O","P",
"Q","R","S","T",
"U","V","W","X",
"Y","Z" 
*/

$breakpoint-phone: 450px;
$breakpoint-tablet: 768px;
$breakpoint-desktop: 1024px;
$box-shadow: 0px 0 10px rgba(black, 0.03);
$box-shadow-active: 0px 0 10px rgba(black, 0.3);
$border: 1px solid #e3e3e3;
$border-radius: 1rem;

$color-body: #f6f7ff;
$color-base: #ff2a6b;
$color-base-accent: rgba($color-base, .5);
$color-dark-blue: #000532;
$color-dark-blue-accent: lighten(#000532, 5);

$font-family-regular: 'Montserrat', sans-serif;
$font-family-header: 'Rumburak', sans-serif;
$font-size-base: 14px;
$font-line-height-base: 1.6;

$sidebar-transform-offset: -65.6%;

$transition-time: .3s;
$transition-mode: ease-in-out;

$z-index: 10000;
