@mixin flex($main-axis: null, $cross-axis: null) {
	display: flex;
	align-items: $cross-axis;
	justify-content: $main-axis;
}

@mixin grid() {
	display: grid;
}

@mixin media($device) {
	@if ($device == phone) {
		/* Phone breakpoint */
		@media screen and (min-width: 0px) and (max-width: #{$breakpoint-phone}) {
			@content;
		}
	} @else if ($device == tablet) {
		/* Tablet breakpoint */
		@media screen and (min-width: #{$breakpoint-phone}) and (max-width: #{$breakpoint-tablet}) {
			@content;
		}
	} @else if ($device == desktop) {
		/* Desktop breakpoint */
		@media screen and (min-width: #{$breakpoint-tablet}) and (max-width: #{$breakpoint-desktop}) {
			@content;
		}
	}
}

@mixin square($size: 'null') {
	width: $size;
	height: $size;
}

@mixin fixed-width($size: 'null') {
	min-width: $size;
	max-width: $size;
}

@mixin fixed-size($width: 'null', $height: 'null') {
	min-width: $width;
	max-width: $width;
	min-height: $height;
	max-height: $height;
}
