/* 
"A","B","C","D",
"E","F","G","H",
"I","J","K","L",
"M","N","O","P",
"Q","R","S","T",
"U","V","W","X",
"Y","Z" 
*/

$breakpoint-desktop: 1024px;
$breakpoint-tablet: 768px;
$breakpoint-phone: 450px;
$box-shadow: 0px 0 10px rgba(black, 0.03);
$box-shadow-active: 0px 0 10px rgba(black, 0.3);
$border: 1px solid #e3e3e3;
$border-radius: 1rem;

$color-body: #f6f7ff;
$color-border: #e3e3e3;
$color-dark-blue: #000532;

$font-family-regular: 'Montserrat-Regular', sans-serif;
$font-family-header: 'Rumburak', sans-serif;
$font-size-base: 14px;
$font-line-height-base: 1.6;

$transition-time: .3s;
$transition-mode: ease-in-out;
$transition-sidebar: .7s $transition-mode;
$transition-sidebar-delay: .4s;

$z-index: 10000;
