/* 
"A","B","C","D",
"E","F","G","H",
"I","J","K","L",
"M","N","O","P",
"Q","R","S","T",
"U","V","W","X",
"Y","Z" 
*/

$box-shadow: 0px 5px 10px rgba(black, 0.1);
$border: 1px solid #e3e3e3;

$color-body: #f6f7ff;
$color-border: #e3e3e3;

$font-family-regular: 'Montserrat-Regular', sans-serif;
$font-family-header: 'Rumburak', sans-serif;
$font-size-base: 0.9rem;
$font-line-height-base: 1.6;

$transition-time: .3s;
$transition-mode: ease-in-out;

$z-index: 10000;
